header {
    background-color: rgb(40, 27, 71);
    padding: 10px;
    font-size: 15px;
    overflow: hidden;

}

header a:hover{
    text-decoration: underline;
}

header button{
    border: none;
     border-radius: 25px;
     background-color: rgb(40, 27, 71);
     color:rgb(170, 162, 162);
     font-size: 20px;
     margin: 10px;
     float: right;

}


header img{
    margin-right: 10px;
    width: 150px;
    height: 100%;
}

body {
    background-image: url("../DIT Group A/images/1899390.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(168, 135, 64);
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    font-size: large;
    color: white;
    min-height: 100vh;
}

form {
    background-color: rgb(40, 27, 71);
    background-blend-mode: color-burn;
    padding: 20px;
    text-align: center;
}

button {
    background-color:  rgb(53, 136, 53);
    color: white;
}


.Houses {
    width: 100%;
    display: block;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: block;
}

.active {
    opacity:1
}

table {
    align-content: center;
    width: 100%;
}

tr {
    background-color: #e6f7ff;
    color: #333;
    margin: 0;
    padding: 0;
}

td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: none;
    border-bottom: none;
    padding: 10px;
}

.nav {
    text-decoration: none;
    display:inline;
    padding: 15px;
    text-align: right;
    color: white;

}
.navbar {
    text-align: right;
}

.Content {
    position: absolute;
    top:70%;
}